body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #244C8E;
}

p{
  margin: 0;
}

.first-slide{
  background: url(images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh; /* height my screen 754px */
  color: #FFFFFF;
}

.first-slide::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(124.64deg, rgba(33, 76, 227, 0.5) 0%, rgba(67, 110, 221, 0.5) 47.4%, rgba(173, 57, 214, 0.5) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.first-slide *{
  position: relative;
  z-index: 1;
}

.header{
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 5;
  background: rgba(227, 231, 237, 0.9);
}

.wrapper{
  margin: 0 auto;
  width: 966px;
}

.wrapper a{
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid transparent;
}

.nav-flex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.active{
  background: #244C8E;
  color: #FFFFFF;
}

.header a:hover{
  border: 1px solid #244C8E;
  text-decoration: none;
  color: #244C8E;
}

.header .active:hover,
.header .online:hover{
  color: white;
}

.online{
  color: #FFFFFF;
  background: #4ED401;
  border-radius: 2px;
  text-transform: none;
}

.wrapper.nav-flex .nav-flex:first-of-type{
 margin: 0 auto 0 0;
}

.menu{
  position: relative;
}

.submenu{
  display: none;
  position: absolute;
  background: rgba(189, 201, 220, 0.9);
  border-radius: 0px 0px 2px 2px;
  top: 32px;
  left: -28px;
  padding: 15px 22px 15px 15px;
  text-transform: none;
  width: 200px;
  box-sizing: border-box;
}

.submenu a{
  display: block;
  padding: 0px 0 6px 0;
}

.submenu a:nth-child(5){
  border-top: 1px solid #D8DEEA;
  padding: 8px 0 0;
}

.menu:hover .submenu{
  display: block;
}

.nav-flex img{
  width: 13px;
  height: 10px;
  margin-right: 3px; 
}

.heart::before{
  content: "";
  background: url(images/heart.svg);
  height: 9px;
  width: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 4px 0px 0;
}

.main {
  padding-top: 100px;
}

.main_flex{
  display: flex;
}

.main_flex >*{
  align-self: center;
}

.main_flex:first-child{
  justify-content: space-between;
}
/********/


h1{
  font-size: 40px;
  line-height: 54px;
  color: #4ED401;
  margin: 15px 0;
}

hr{
  width: 258px;
  border: none;
  background: #ffffff;
  margin: 0;
  height: 1px;
}

.btn_course{
  margin-top: 25px;
  background: #4ED401;
  border-radius: 2px;
  height: 40px;
  width: 222px;
 /* padding: 12px 25px;*/
  font-size: 18px;
  line-height: 25px;
  border: 1px solid #4ED401;
  color: #FFFFFF;
  font-weight: bold;
}

.btn_course:hover{
  color: #FFFFFF;
  background: #54e600;
}

.map_kyiv{
  position: absolute;
  top: 85px;
  left: 245px;
}

.map_kharkiv{
  position: absolute;
  top: 115px;
  right: 115px;
}

.map_dnepr{
  position: absolute;
  top: 160px;
  right: 210px;
}

.map_odesa{
  position: absolute;
  top: 235px;
  left: 235px;
}

.map_kharkiv::after,
.map_dnepr::after,
.map_odesa::after{
  content: "";
  background: url(images/map-location.svg);
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 3px;
  position: absolute;
}

.map_kyiv::after{
  content: "";
  background: url(images/map-pin.svg);
  height: 20px;
  width: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 5px;
  -webkit-animation: 1s infinite map-pin;
  animation: 1s infinite map-pin;
  position: absolute;
  top: 0;
}

@-webkit-keyframes map-pin{
  0%,100%{
    top: -5px;
  }
  50%{
    top: -10px;
  }
}

@keyframes map-pin{
  0%,100%{
    top: -5px;
  }
  50%{
    top: -10px;
  }
}


.first-line{
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  margin-top: 20px;
}

.first-line img{
  width: 50px;
  height: 50px;
}

.first-line p:first-of-type{
  font-size: 40px;
  color: #4ED401;
  padding-left: 15px;
}

.first-line span {
  background: #4ED401;
  border-radius: 50%;
  padding: 4px 0 0 6px;
  width: 25px;
  height: 25px;
  font-size: 23px;
  margin-left: 7px;
}

.first-line p:nth-of-type(2n){
  font-size: 20px;
  color: #FFFFFF;
  line-height: 27px;
  margin-left: 15px;
}

.second-line{
  flex-wrap: wrap;
  padding-top: 20px;
}

.second-line_block{
  width: 21%;
  padding-bottom: 30px;
}

.second-line_block:nth-child(3n+2){
  margin: 0 18%;
}

.second-line_block img{
  width: 35px;
  height: 35px;
}

.info
{
  margin-left: 13px;
}

.info p:first-of-type{
  font-size: 30px;
  color: #4ED401;
  display: inline-block;
}

.year{
  background: #4ED401;
  border-radius: 2px;
  padding: 0px 10px 1px;
}

.plus{
  background: #4ED401;
  border-radius: 50px;
  padding: 0px 5px;
}

.info p:last-of-type{
  margin-top: 5px;
  font-weight: normal;
}

.modal-content{
  border-radius: 15px;
  width: 430px;
}

.modal_header{
  display: block;
  padding: 25px;
  background: #F6F6F6;
  border-radius: 15px 15px 0 0;
}

.modal_header h2{
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  color: #244C8E;
  font-weight: bold;
}

.modal p{
  margin: 6px 100px 0 0;
  font-weight: normal;
  font-size: 14px;
  color: #244C8E;
}

.modal p::before{
  content: "?";
  background: #244C8E;
  border-radius: 50%;
  padding: 0px 6px;
  margin-right: 5px;
  color: white;
  font-size: 11px;
  font-weight: bold;
}

.modal_close{
  position: absolute;
  top: 26px;
  right: 30px;
  background-color: transparent;
  border: 0;
  opacity: 1;
  color: #F20D0D;
  font-size: 20px;
}

.modal_body{
  background: #FFFFFF;
  padding: 20px 30px;
}

.form_label{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 5px;
  padding: 0 11px;
}

.form_label > *{
  width: 50%;
  box-sizing: border-box;
}

input{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent ;
  margin-bottom: -1px;
}

input:focus,
select:focus{
  border-bottom: 1px solid red;
  outline: 0;
}

input::placeholder{
  color: #EEEEEE;
}

input:focus::placeholder{
  color: transparent;
}

label{
  color: #808080;
  font-weight: normal;
}

label::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #FEAC30;
  border-radius: 50%;
  margin-right: 5px;
}

select{
  height: 35px;
  border: none;
  font-size: 12px;
}

input:required:valid ~ label::before,
select:required:valid ~ label::before{
  background: #4ED401;
}

input:required:invalid + label::before,
select:required:invalid + label::before{
  background: red;
}

.modal_footer{
  padding: 15px 30px;
  background: #F6F6F6;
  border-radius: 0 0 15px 15px;
}

.modal_btn{
  width: 374px;
  height: 34px;
  border-radius: 4px;
  border: none;
  color: #98ACCC;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.15em;
}

form:valid button[type=submit]{
  background: #4ED401;
  color: white;
}

form:invalid button[type=submit]{
  background: #E4E8ED;
}


@media (max-width:1000px){
  body{
      background: red;
  }

  .wrapper{
    width: 90%;
  }
  .first-slide{
    height: 100%;
  }

  .maps_ukraine img{
    width: 448px;
    height: 266px;
  }

  .map_kyiv {
    top: 65px;
    left: 185px;
  }

  .map_kharkiv{
    top: 95px;
    right: 145px;
  }

  .map_dnepr{
    top: 125px;
  }

  .map_odesa{
    top: 172px;
    left: 152px;
  }

  .second-line_block:nth-child(3n+2) {
    margin: 0 5%;
  }

  .second-line_block {
      width: 30%;
  }

}

@media (max-width:877px){
  body{
      background: blueviolet;
  }
  .main {
    padding-top: 135px;
  }
  .maps_ukraine img{
    max-width: 100%;
  }
  .wrapper .nav-flex{
    padding-bottom: 7px;
    margin: 0 auto;
  }
  .nav-flex{
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper.nav-flex .nav-flex:last-of-type{
    padding: 0%;
  }

  .wrapper.nav-flex .nav-flex:first-of-type {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width:736px){
  body{
      background: orange;
  }
  .main {
    padding-top: 20%;
  }
  .main_flex{
    flex-wrap: wrap;
  }
  .main_flex >* {
    margin: 0 auto;
  }
  .first-line .main_flex:last-of-type{
    display: none;
  }
  .second-line_block {
    width: 48%;
  }
  .second-line_block:nth-child(3n+2) {
    margin: 0;
  }
  .second-line_block:nth-child(2n){
    margin-left: 1%;
  }
  .second-line .main_flex{
    flex-wrap: nowrap;
    margin: 0;
  }
}

@media(max-width:480px){
  body{
    background: blue;
  }
  .second-line_block {
    width: 77%;
  }
  .second-line_block:nth-child(n) {
    margin: 0 auto;
  }

  .main {
    padding-top: 150px;
}

}

@media(max-width:382px){
  body{
    background: gray;
}
}
@media(max-width:320px){
  body{
    background: pink;
}

}