body{
  font-family: 'Montserrat', sans-serif;
}
/*
Черный цвет текста #1F2431
Синий цвет текста #315EFB
Нежно-голубой цвет блоков #FAFCFF
*/

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container{
  width: 1200px;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;

}

h1{
  font-size: 36px;
  line-height: 46px;
  color: #1F2431;
}

.info{
  display: flex;
  padding: 50px 62px 62px 70px;
}

.info_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block
{
  background: #FAFCFF;
  border-radius: 6px;
  width: 49%;
  float: left;
}

.block:nth-child(2n){
  float: right;
}