body{
  font-family: 'Roboto', sans-serif;
  color: #5B5B5B;
  font-size: 20px;
  margin: 0;
  line-height: 140%; /* or 28px */
  letter-spacing: 0.02em;
}

h1, h2{
  margin: 0;
  text-align: center;
}

h1{
  font-weight: 900;
  font-size: 45px;
  color: #23CFCD;
  padding: 25px 0;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  letter-spacing: 0.02em;
  color: #000000;
  font-weight: normal;
  line-height: normal;
}

span{
  color: #23CFCD;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  text-align: left;
}

caption{
  text-align: left;
  padding-bottom: 15px;
}

th{
  border-bottom: 1px solid #E5E5E5;
}

td{
  font-size: 18px;
}

tfoot{
  border-top: 3px solid #000000;
  font-weight: 900;
  color: #000000;
  font-size: 20px;
}

.container{
  width: 750px;
  background: #FFFFFF;
  border: 25px solid #F4F8FB;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box; 
}

p{
  margin: 0;
}

a{
  display: block;
  padding: 22px;
  background: #23CFCD;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  margin-top: 15px;
}

.text p{
  padding: 10px 0;
}

.table-item tbody tr{
  border-top: 1px solid #E5E5E5;
}

.table-order th, 
.table-order td{
  width: 50%;
  padding: 10px 0;
}

.table-order th:nth-child(2), 
.table-order td:nth-child(2){
  padding-left: 35px;
}

.td-right{
  text-align: right;
}

.table-item{
  table-layout: fixed; 
}

.table-item th{
  padding-bottom: 13px;
}

.table-item_img{
  width: 112px;
  height: 112px;
  display: inline-block;  
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.table-item p{
  margin-left: 18px;
}

.text_right{
  text-align: right;
}

.summary{
  padding: 10px 0;
}

.table-trend{
  font-size: 30px;
}

.table-trend_img{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.table-trend td{
  width: 50%;
}

.table-trend tr{
  margin-bottom: 10px;
}

.table-trend td:nth-child(2n-1){
  padding-right: 5px;
}

.table-trend td:nth-child(2n){
  padding-left: 5px;
}

.table-info {
  margin-top: 15px;
  margin-bottom: 0;
}

.table-info b{
  padding: 0;
}

.table-trend p{
  margin-bottom: 15px;
}

  /*flex*/

.flex-container{
  display: flex;
  justify-content: space-between;
  flex-flow:  wrap;

  font-size: 18px;
}

.trend_img{
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.trend-item{
  flex-basis: 49%;
  /*flex-grow: 1;*/
  padding-bottom: 10px;
}

.trend-item:nth-child(2n-1){
  margin-right: 1%;
}

.trend-item:nth-child(2n){
  margin-left: 1%;
}

.discr-flex{
  display: flex;
  justify-content: space-between;
}

.trend-title{
  font-size: 30px;
  padding-bottom: 15px;
}
